.invite-section {
    display: grid;
    justify-content: center;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.convite {
    width: 778px;
    height: 183px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.titulo {
    font-size: 2rem;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 15px;
}

.detalhes {
    font-size: 1.2rem;
    margin: 8px 0;
}


/* Estilos adicionais para os botões de compartilhamento */
.social-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    /* background-color: #3b5998; */
     /* Facebook */
    color: white;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    width: auto;
    text-align: center;
}

.social-btn img {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
}


.social-btn + .social-btn {
    margin-top: 15px;
}
