.form-section {
    display: grid;
    grid-template-rows: 6fr auto;
    margin-bottom: 1.88rem;
    height: 100%;                  /* Garante que o form ocupe a altura total da tela */
    justify-items: center;         /* Centraliza o conteúdo horizontalmente */
    align-items: flex-start;       
}

/* Nome do Evento / Data do Evento / Local do Evento */

label {
    display: grid;
    font-size: .8rem;
    margin-bottom: .5rem;
    font-weight: bold; 
}
.informacoes {
    appearance: none;
    width: 100%;
    padding: .63rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: var(--font-family);
    border: 1px solid var(--text-primary);
    border-radius: .31rem;    
}

.informacoes:hover{
    border-color: var(--stroke-highlight);
    outline: 1px var(--stroke-highlight);
}

.informacoes:focus{
    border-color: var(--stroke-highlight);
    filter: drop-shadow(0 0 .1rem var(--stroke-highlight));
    z-index: 2;
    outline: 1px var(--stroke-highlight);
}

/* area Data do Evento */
input[type="date"] {
    position: relative;

    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }

    &::before {
        content: "";
        position: absolute;
        background: url(../icons/calendar-03.svg) center/contain;
        right: 1rem;
        width: 1.25rem;
        height: 1.25rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

/* area Imagem de Fundo */
.add-estilos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .63rem;
}

.image {
    border: 2px dashed transparent;
    outline: 1px dashed var(--stroke-default);
    border-radius: .25rem;
    display: grid;
    justify-items: center;
    gap: .5rem;
    text-align: center;
    padding: 1.75rem 1rem;
    position: relative;

    & input {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        opacity: 0;
    }

    & p {
        color: var(--text-secondary);
    }

    &:hover, &:has(input:focus) {
        outline: 0;
        border-color: var(--stroke-highlight);
        
        & p {
            color: var(--text-tertiary); 
        }

        & svg path {
            stroke: var(--stroke-highlight);
        } 
    }

}

/* area Adicione um texto */
.styles {
    border: 2px dashed transparent;
    outline: 1px dashed var(--stroke-default);
    border-radius: .25rem;
    width: 100%;
    height: 9.7rem;

    display: grid;
    justify-items: center;
    gap: .5rem;

    text-align: center;
    padding: .63rem;

    &::placeholder {
        appearance: none;
        font-family: var(--font-family);
        color: var(--text-secondary);
        padding: 2.97rem 3rem;
    }

    &:hover, &:has(input:focus) {
        outline: 0;
        border-color: var(--stroke-highlight);
        
        &::placeholder{
            color: var(--text-tertiary); 
        }
    }

}


/* area de por estilos de fundo do convite */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cria 4 colunas de largura igual */
    gap: .9rem; /* Espaçamento entre os itens */
    margin-top: .3rem;

}

.color .cor {
    display: grid;
    width: 31.25rem;
}

.color {
    display: flex;
    grid-template-columns: auto;
    gap: .2rem;
    margin-top: .5rem;
}

/* Cor de fundo / Cor do texto */

.img {
    flex: 0 0 1.5rem;
    height: 1.5rem;
    background-image: url(../icons/palheta.svg);
    background-size: cover; /* Ajusta o tamanho do ícone */
    cursor: pointer; /* Muda o cursor para uma mão */
    top: 50%;
    transform: translateY(-50%);
}

/* Fontes */
.font, .google-font {
    all: unset;
    appearance: none;
    font-size: .8rem;
    width: 100px;
    height: 35px;
    border: 1px solid var(--text-primary);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 1px 20px;

    &::placeholder{
        font-size: 8px;
    }

    &:hover, &:focus{
        outline: 0;
        border-color: var(--stroke-highlight);
        
        &::placeholder{
            color: var(--text-tertiary); 
        }
    }
   
}

#font-family{
    cursor: pointer; /* Muda o cursor para uma mão */
    margin-bottom: .63rem ;
}
.tree {
    width: 60px;
   
    
}


.text-options {
    display: grid;
    gap: 1rem;
    margin-top: 1.25rem;
}

.text-options .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-options select,
.text-options input[type="color"] {
    width: 100%;
    padding: .5rem;
    margin-top: .5rem;
    font-size: 1rem;
    border: 1px solid var(--text-primary);
    border-radius: .31rem;
}

.text-options label {
    
    font-size: .5rem;
    font-weight: bold;
    margin-bottom: .31rem;
}

label .tree{
    background-color: aqua;
    font-size: .8rem;
}



#gerar-btn {
    grid-row: 2;
    justify-self: center;
    margin-top: 20px;
}

button {
    display: grid;

    width: 15.63rem;
    justify-content: center;
    align-items: center;
    
    border: 2px dashed transparent;
    padding: .75rem;
    background-color: var(--text-secondary);
    color: var(--surface-primary);
    font-size: 1.2rem;
    border: none;
    border-radius: .31rem;
    cursor: pointer;
    transition: background-color 0.3s;
 
}

button:hover,  button:focus {
    background-color: var(--stroke-highlight);
    filter: drop-shadow(0 0 .1rem var(--stroke-highlight));
    z-index: 2;
    outline: 1px var(--stroke-highlight);
}
