/* Seção Preview */
.preview-section {
    display: grid;
    justify-content: center;
    padding: 1.25rem;
    background-color: #f1f1f1;
    border-radius: .63rem;
    margin-bottom: 20px;
    
}

#preview {
    background-color: #ffffff; /* Cor de fundo branca inicial */
}


/* Container da pré-visualização */
.preview {
    width: 100%; /* Usando largura percentual para responsividade */
    max-width: 48rem; /* Largura máxima para não ultrapassar tamanho desejado */
    height: auto; /* Ajusta a altura conforme o conteúdo */
    padding: 1.25rem;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #ffffff; /* Fundo branco padrão */
    border-radius: .63rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque */
    margin: 0 auto; /* Centraliza a caixa */
}

/* Estilo do título da pré-visualização */
.preview .titulo {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    color: transparent;
    background: #808080a1;
    background-clip: text;
    letter-spacing: .25rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Sombra para melhorar a visibilidade */
}

/* Estilo dos detalhes na pré-visualização */
.preview .detalhes {
    font-size: 1.2rem;
    margin: .5rem 0;
    color: #333; /* Cor mais escura para texto */
    text-align: left; /* Alinha o texto à esquerda */
}

/* Estilo do conteúdo de detalhes em negrito */
.preview .detalhes span {
    font-weight: bold;
}

/* Responsividade - Ajuste em telas menores */
@media (max-width: 600px) {
    .preview {
        width: 90%; /* Aumenta a largura em telas menores */
        padding: 1rem; /* Ajusta o padding */
    }

    .preview .titulo {
        font-size: 1.5rem; /* Reduz o tamanho do título em telas menores */
    }

    .preview .detalhes {
        font-size: 1rem; /* Reduz o tamanho dos detalhes */
    }
}

